[Unit]
Description=Balance btrfs-filesystem %f
ConditionPathExists=!/run/btrfs-balance-systemd.lock
ConditionPathExists=!/run/mkbackup-systemd.lock
ConditionACPower=true
Conflicts=suspend.target shutdown.target
OnFailure=status-email-root@%n.service

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=3
CPUSchedulingPolicy=idle
ExecStartPre=/bin/touch /run/btrfs-balance-systemd.lock
ExecStart=/bin/btrfs balance start -dusage=55 -v %f
ExecStop=/etc/systemd/system/scripts/btrfs-action.sh %f balance $MAINPID
ExecStopPost=/bin/rm /run/btrfs-balance-systemd.lock

