[Unit]
Description=Runs btrfs-balance on / every day

[Timer]
OnCalendar=weekly
Persistent=true
Unit=btrfs-balance@var-cache-btrfs_pool_SYSTEM.service

[Install]
WantedBy=var-cache-btrfs_pool_SYSTEM.mount
