[Unit]
Description=Runs btrfs-balance on /var/cache/backup every day

[Timer]
# Time to wait after booting before we run first time
OnBootSec=2h
# Time between running each consecutive time
OnUnitActiveSec=1d
Unit=btrfs-balance@var-cache-backup.service

[Install]
WantedBy=var-cache-backup.mount
